local/
.env

assets/N4L_phenotypic_ontology_2016-20250408T190826Z-002.zip
metpo-cleanroom/N4L_phenotypic_ontology_2016/
metpo/N4L_phenotypic_ontology_2016/
metpo/chebi.lex

.idea/

.DS_Store
semantic.cache
bin/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

.github/token.txt

src/ontology/mirror
src/ontology/mirror/*
src/ontology/reports/*
!src/ontology/reports/release-diff.md
src/ontology/metpo.owl
src/ontology/metpo.obo
src/ontology/metpo.json
src/ontology/metpo-base.*
src/ontology/metpo-basic.*
src/ontology/metpo-full.*
src/ontology/metpo-simple.*
src/ontology/metpo-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-metpo-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/.gitkeep
!src/ontology/tmp/README.md

src/ontology/run.sh.conf
src/ontology/run.sh.env

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt